<div class="lessons-list" *ngIf="data.msg else remindpassword">
    <p>{{data.msg}}</p>
    <div class="buttons">
        <div><button mat-flat-button color="warn" (click)="lostPassword()" type='button'>new password</button></div>
        <div><button mat-stroked-button color="primary" (click)="lostPassword()" type='button'>contact support</button>
        </div>
    </div>
</div>


<ng-template #remindpassword>
    <h1>Login failed</h1>
    <p>
        Lost or forgot your password? Don't worry, resetting your password only takes a few seconds.
    </p>
    <div class="buttons">
        <div><button mat-flat-button color="warn" (click)="lostPassword()" type='button'>new password</button></div>
        <div><button mat-stroked-button color="primary" (click)="contactSupport()" type='button'>contact support</button>
        </div>
    </div>
</ng-template>
