<div class="lessons-list" *ngIf="successData.msg else remindpassword">
    <div class="dialog-container">
        <div class="content">
            <h1>Success</h1>
            <p>
                {{successData.msg}}
            </p>
        </div>
        <div class="footer" fxLayout="row" fxLayoutAlign="center center">
            <div class="buttons">
                <button mat-stroked-button color="primary" (click)="closeDialog()" type='button'>close dialog</button>
            </div>
        </div>
    </div>
    <app-close-dialog-button (closeEvent)="closeDialog()"></app-close-dialog-button>
</div>


<ng-template #remindpassword>
    <div class="dialog-container">
        <div class="content">
            <h1>Success</h1>
            <p>
                Your request was correctly updated.
            </p>
        </div>
        <div class="footer" fxLayout="row" fxLayoutAlign="center center">
            <div class="buttons">
                <button mat-stroked-button color="primary" (click)="closeDialog()" type='button'>close dialog</button>
            </div>
        </div>
    </div>
    <app-close-dialog-button (closeEvent)="closeDialog()"></app-close-dialog-button>
</ng-template>
